apiVersion: v1
baseDomain: {{BASE_DOMAIN}}
controlPlane:
  name: master
  hyperthreading: Enabled 
  replicas: {{MASTER_REPLICAS}}
compute:
- name: worker
  hyperthreading: Enabled
  replicas: {{WORKER_REPLICAS}}
metadata:
  name: ocp46
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 172.18.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {} 
fips: false
pullSecret: '{"auths": "registry.ocp43.coc.ibm.com:5000": {"auth":"YWRtaW46cGFzc3cwcmQ=","email": "hanzhis@cn.ibm.com"}}'
sshKey: 'ssh-ed25519 AAAA...'
additionalTrustBundle: |
     -----BEGIN CERTIFICATE-----
     <...base-64-encoded, DER - CA certificate>
     -----END CERTIFICATE-----
imageContentSources:
- mirrors:
  - registry.ocp46.cluster.ibm.com:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.ocp46.cluster.ibm.com:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev